# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# CloudTrail logs
*.json
*.json.gz
cloudtrail_logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Elasticsearch temp files
*.db
